
/*
top
 */
.root{
    -fx-background-color:linear-gradient(#4E8592, #61a2b1);
}


#logo_tiele{
    -fx-text-fill: white;
    -fx-font-size: 16px;
}
#logo_second_title{
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

#bt_top_zijin{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#bt_top_zijin:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
#bt_top_util{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#bt_top_util:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
#bt_scale{
     -fx-text-fill: white;
     -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
 }
#bt_scale:hover{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}


#bt_zoom{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#bt_zoom:hover{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#bt_close{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#bt_close:hover{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
/*
center
 */
#center_root{
    -fx-background-color:transparent;
}
#fenshi{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#fenshi:hover{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}


#oneMinute{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#oneMinute:hover{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#fiveMinute{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#fiveMinute:hover{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#tenMinute{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#tenMinute:hover{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#fifteenMinute{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#fifteenMinute:hover{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#thrityMinute{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#thrityMinute:hover{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#sixtyMinute{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#sixtyMinute:hover{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#day{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#day:hover{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#week{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#week:hover{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
#month{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#month:hover{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#to_transaction{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#to_transaction:hover{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
/**
tableviwe css start
 */
/*.table-view {*/
    /*-fx-border-width: 1px;*/
    /*-fx-border-color: #CACACA;*/
    /*-fx-background-color: transparent;*/
/*}*/

/*.table-view:focused {*/
    /*-fx-background-color: transparent;*/
/*}*/

/*.table-view .table-cell {*/
    /*-fx-font-size: 12px;*/
/*}*/

/*.table-view .filler {*/
    /*!*没有数据的会变的颜色*!*/
    /*-fx-background-color: #BDE8FF;*/
/*}*/

/*.table-view .text {*/
    /*-fx-text-fill: red;*/
/*}*/

/*.table-view .column-header {*/
    /*!*有数据的头部标题的颜色*!*/
    /*-fx-background-color: #BDE8FF;*/
    /*-fx-pref-height: 37px;*/
    /*-fx-border-width: 1px;*/
    /*-fx-border-color: #D9D9D9;*/
    /*-fx-border-insets: -2px -2px 0px -2px;*/
/*}*/

/*.table-view .column-header-background .label {*/
    /*-fx-text-fill: #363739;*/
    /*-fx-font-weight: normal;*/
    /*-fx-font-size: 12px;*/
/*}*/

/*.table-row-cell {*/
    /*!*行高*!*/
    /*-fx-cell-size: 35px;*/
/*}*/

/*.table-row-cell .cell {*/
    /*-fx-alignment: center;*/
    /*-fx-text-fill: #333333;*/
/*}*/

/*.table-view .table-cell:selected {*/
    /*-fx-text-fill: white;*/
/*}*/

/*.table-view .table-column .column-header {*/
    /*-fx-background-color: #363739;*/
/*}*/

/*.cell {*/
    /*-fx-border-width: 0px 0px 0 0;*/
    /*-fx-border-color: #CACACA;*/
/*}*/

/*.table-view .scroll-bar {*/
    /*-fx-background-color: transparent;*/
/*}*/

/*.viewport {*/
    /*-fx-background-color: white;*/
/*}*/

/*.table-view .text-field {*/
    /*-fx-font-size: 12px;*/
    /*-fx-padding: 6px 10px 5px;*/
    /*-fx-background-insets: -1;*/
    /*-fx-background-color: #f93127;*/
    /*-fx-border-width: 2px;*/
    /*-fx-border-color: #5faafa;*/
/*}*/

/*.table-view .text-field:hover {*/
    /*-fx-border-color: #fa1a1d;*/
/*}*/
/**
tableviwe css end
 */



.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width:0 1  0 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            derive(-fx-base, 50%)
            transparent
            transparent;
    -fx-border-insets: 0 0 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 10pt;
    -fx-font-family: "Arial Narrow";
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-opacity: 1;
}

.table-row-cell .cell {
-fx-alignment: center;
-fx-text-fill: white;
}


.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}





/**
buttom start
 */
#btm_top{
    -fx-background-color: transparent;
}
#tp_root{
    -fx-background-color: #4E8592;
}


#bt_top_system{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#bt_top_system:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.menu-bar{
    -fx-text-fill: white;
    -fx-background-color: #00000000;
}

.menu-bar .label {
    -fx-text-fill: skyblue;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}

.menu:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
